@model mvc4.Models.Documento
@{
    ViewBag.Title = "Detalle documento";
}

<script type="text/javascript">
    ready(function () {
        $('#btn-referencia').click(function () {
            var texto = $("#textoReferencia").val();
            if (texto == "") {
                alert("Debe indicar la descripción de la nueva referencia");
            } else {
                $("#form-referencia").submit();
            }
        });
    });
</script>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-table"></i>
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-8">
                            @if (ViewBag.Referencia)
                            {

                                    <div class="box box-success box-solid">
                                        <div class="box-header with-border">
                                            <h3>Nueva referencia para:</h3>
                                        </div>
                                        <div class="box-body">
                                            <strong>@ViewBag.DocumentoR.Norma</strong><br />
                                            @if (ViewBag.DocumentoR.Organismo != null && ViewBag.DocumentoR.Organismo != "")
                                            {
                                                @ViewBag.DocumentoR.Organismo
                                            }
                                            @if (ViewBag.DocumentoR.Numero != null && ViewBag.DocumentoR.Numero != "")
                                            {
                                                <label>Número @ViewBag.DocumentoR.Numero</label>
                                            }
                                            @if (ViewBag.DocumentoR.Articulo != null && ViewBag.DocumentoR.Articulo != "")
                                            {
                                                <label>Artículo @ViewBag.DocumentoR.Articulo</label>
                                            }
                                            @if (ViewBag.DocumentoR.Inciso != null && ViewBag.DocumentoR.Inciso != "")
                                            {
                                                <label>Inciso @ViewBag.DocumentoR.Inciso</label>
                                            }
                                            <br /><br />
                                            @ViewBag.DocumentoR.Titulo
                                        </div>
                                    </div>

                            }
                            <strong>@Html.Raw(Model.Norma)</strong>
                            <br /><br />
                            @Html.Raw(Model.Organismo)
                            <br /><br />
                            <strong>@Html.Raw(Model.Titulo)</strong>
                            <br /><br />
                            @Html.Raw(Model.Texto)
                        </div>
                        @if (!ViewBag.Referencia)
                        {
                        <div class="col-md-4" style="border-left: 1px solid gray">
                            <a href="~/Busqueda/Index/@Model.IdDocumento" class="btn btn-block btn-primary btn-sm">Nueva referencia a partir de documento existente</a>
                            <br />
                            <a href="~/Document/Ma_NuevaReferencia/@Model.IdDocumento" class="btn btn-block btn-primary btn-sm">Nueva referencia vacía</a>
                            <div style="float: left">
                                <h3>Referencias</h3>
                            </div>
                            <div style="clear: both"></div>
                            @foreach (var link in ViewBag.Links)
                            {
                                if (link.Tipo.IndexOf("no contiene links") > 0)
                                {
                                    @link.Tipo
                                }
                                else
                                {

                                    @link.Tipo
                                    <br />
                                    <a href="~/Document/Ma_VerDocumento/@link.Url">
                                        @link.Texto
                                    </a>
                                    <br /><br />
                                }
                            }
                        </div>
                        }
                        @if (ViewBag.Referencia)
                        {
                            <div class="col-md-4" style="border-left: 1px solid gray">
                                <h3>Datos nueva referencia</h3>
                                <form method="post" action="~/Document/SetReferencia" id="form-referencia">
                                    <label for="nuevaReferencia">Descripción</label>
                                    <textarea rows="5" class="form-control" id="textoReferencia" name="textoReferencia"></textarea>
                                    <input type="hidden" name="tipoReferencia" value="@Model.Norma" />
                                    <input type="hidden" name="idDocumento" value="@Model.IdDocumento" />
                                    <input type="hidden" name="tipoReferenciaDoc" value="@ViewBag.DocumentoR.Norma" />
                                    <div style="padding-top: 15px; text-align: right">
                                        <button id="btn-referencia" type="button" class="btn btn-default">Aceptar</button>
                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
